<h2>商品一覧</h2>
<%= link_to new_admin_item_path do %>
  新規登録
<% end %>
<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>商品名</th>
      <th>平均レビュー評価</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.genre.name %>
        </td>
        <td>
          <%= link_to admin_item_path(item) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td>
        </td>
      </tr>
  </tbody>
  <% end %>
</table>