<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>ジャンル編集</strong></h4>
      <div class="form-body p-4 bg-light">
        <%= form_with model:@genre, url: admin_genre_path(@genre.id), local:true do |f| %>
          <%= f.attachment_field :image, class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-gifts"></i></span>
            </div>
            <%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %>
          </div>
          <%= f.submit "変更保存", class:"btn btn-block btn-primary mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>