<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">ジャンル新規登録</h5>
      <div class="form-body p-4 bg-light">
        <%= form_with model: @genre, url: admin_genres_path,local:true do |f| %>
          <%= f.attachment_field :image, class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-gifts"></i></span>
            </div>
            <%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %>
          </div>
          <%= f.submit "新規登録", class:"btn btn-block btn-success mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>