<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg px-0 my-5">
      <h4 class="text-dark bg-light py-4 mb-0"><strong>管理者画面</strong></h4>
      <div class="p-4 bg-light">
        <%= link_to "管理者ログインページはこちら",  new_admin_session_path, class:"btn btn-block btn-primary mt-5" %>
      </div>
    </div>
  </div>
</div>