<div class="container">
  <h1>ジャンル一覧</h1>
  <div class="row">
    <div class="col">
      <% @genres.each do |genre| %>
        <div>
          <%= link_to public_genres_path(genre.id) do %>
            <p><%= attachment_image_tag(genre, :image, size: "40x40", fallback: "no_image.jpg") %></p>
            <p><%= genre.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>