<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">レビュー投稿完了画面</h5>
      <div class="mt-5">投稿ありがとうございました。</div>
      <div class="mt-5">10ポイント獲得！！</div>
    </div>
  </div>
</div>