<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-auto text-center shadow-lg px-0 my-5">
      <h4 class="text-dark bg-light py-4 mb-0"><strong>About</strong></h4>
      <div class="bg-light">
        <h5 class="text-dark bg-light py-4 mb-0"><strong>概要</strong></h5>
        <p>『TradingReview』は企業の商品をレビューしてポイントを稼ぐデモアプリケーションです。</p>
        <p>
          デモアプリケーションにした理由は著作権やポイント機能に法律が関わってくるからです。</br>
          このアプリケーションは私が将来的に実現したいアプリケーションのプロトタイプです。
        </p>
        <a href = "https://github.com/yusuke-fukushima/TradingReview">GitHubリポジトリ</a>
      </div>
      <div class="bg-light">
        <h5 class="text-dark bg-light py-4 mb-0"><strong>開発環境</strong></h5>
          <p>OS：Linux(CentOS)</p>
          <p>言語：HTML,CSS,JavaScript,Ruby,SQL</p>
          <p>フレームワーク：Ruby on Rails</p>
          <p>JSライブラリ：jQuery</p>
          <p>IDE：Cloud9</p>
      </div>
      <div class="bg-light">
        <h5 class="text-dark bg-light py-4 mb-0"><strong>ER図</strong></h5>
        <%= image_tag 'er.jpg', size: "700x700" %>
      </div>
      <div class="bg-light">
        <h5 class="text-dark bg-light py-4 mb-0"><strong>アプリ機能紹介</strong></h5>
        <h6 class="text-dark bg-light py-4"><strong>ユーザー機能</strong></h6>
        <p>新規登録</p>
        <p>ゲストログイン</p>
        <p>ログイン</p>
        <p>ログアウト</p>
        <p>商品レビュー投稿機能</p>
        <h6 class="text-dark bg-light py-4"><strong>管理者機能</strong></h6>
        <p>ゲストログイン</p>
        <p>ログイン</p>
        <p>ログアウト</p>
        <p>ジャンル登録機能</p>
        <p>商品登録機能</p>
        <p>会員情報変更機能</p>
        <p>レビュー検索機能</p>
        <p>レビューcsv出力機能</p>
      </div>
    </div>
  </div>
</div>