<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-auto text-center shadow-lg px-0 my-5">
      <h4 class="text-dark bg-light py-4 mb-0"><strong>About</strong></h4>
      <div class="bg-light">
        <h5 class="text-dark bg-light py-4 mb-0"><strong>概要</strong></h5>
        <p>『TradingReview』は企業の商品をレビューしてポイントを稼ぐデモアプリケーションです。</p>
        <p>
          デモアプリケーションにした理由は著作権やポイント機能に法律が関わってくるからです。</br>
          このアプリケーションは私が将来的に実現したいアプリケーションのプロトタイプです。
        </p>
        <a href = "https://github.com/yusuke-fukushima/TradingReview">GitHubリポジトリ</a>
      </div>
      <div class="bg-light">
        <h5 class="text-dark bg-light py-4 mb-0"><strong>ポートフォリオに使用した技術</strong></h5>
        <h6 class="text-dark bg-light py-4 mb-0"><strong>各バージョン</strong></h6>
        <p>Ruby 2.6.3</p>
        <p>Rails 5.2.4.5</p>
        <h6 class="text-dark bg-light py-4 mb-0"><strong>フロントエンド</strong></h6>
        <h6 class="text-dark bg-light py-4 mb-0"><strong>バックエンド</strong></h6>
      </div>
        <h5 class="text-dark bg-light py-4 mb-0"><strong>使い方</strong></h5>
    </div>
  </div>
</div>