<div class="col-md-6 mx-auto mt-5 mb-5 text-center">
  <h1><strong>Trading Review</strong></h1>
  <p>あなたのレビューを我々が買い取らさせていただきます</p>
  <div class="mx-auto text-center">
    <%= link_to 'ログイン', new_customer_session_path,class: 'mt-5 btn btn-primary' %>
    <%= link_to '新規登録', new_customer_registration_path,class: 'mt-5 btn btn-success' %>
  </div>
  <div class="mx-auto text-center">
    <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path,class: 'mt-5 btn btn-danger', method: :post %>
  </div>
</div>